.deleteNoteLoader {
  position: relative;
  left: 20px;
  line-height: 2.4rem;
  top: 10px;
  display: inline;
}

.deleteFolderLoader {
  position: relative;
  line-height: 2.2rem;
  top: 12.5px;
  display: inline;
}