@import '../App.module.scss';

.folder {
  position: relative;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 240px;
  margin: 16px;
  height: 50px;
  float: left;
  vertical-align: top;
  &.dark {
    @include primaryDark();
  }
}

.folderTitle {
  cursor: pointer;
  position: relative;
  background: #fff;
  border-radius: 7px;
  padding: 10px 10px 25px;
  width: 210px;
  height: 50px;
  float: left;
  &.dark {
    @include primaryDark();
    box-shadow: none;
  }
  input {
    border: none;
    cursor: pointer;
    text-overflow: ellipsis;
    width: 150px;
  }
}

.folderName {
  width: 150px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 9px;
  bottom: 5px;
  position: relative;
}

.folderOptionsButton {
  display: inline;
  position: relative;
  color: inherit;
  right: 0px;
  top: 0px;
}
